.add-task {
  input {
    display: block;
    margin: 5px auto;
    background-color: white;

    height: 30px;
    border-style: none;
    font-size: 16px;

    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   &[type=submit] {
     margin-top: 14px;
     background-color: rgba(0,0,0,0.02);
     border-radius: 3px;
     -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
   }
    &[type=text] {
      text-align: center;
      width: 50vw;
      font-size: 22px;
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
    }
  }
}
